<% provide(:title, '日報作成') %>
<div>
  <h5 class="center-align">日報入力</h5>
</div>

<%= form_with model: @rehas, url: rehas_path, local: true do |form| %>
  <% @rehas.collection.each.with_index(1) do |reha, index|%>
    <%= fields_for 'rehas[]', reha do |field| %>
        
      <div class="col s12 m1 lelt-align blue-grey-text">
        <h6>【<%= index %>】</h6>
      </div>
      
      <div class="row z-depth-1">
        
        <div class="input-field col s12 m3">
          <%= field.label :day, "例)2020/01/01" %>
          <%= field.text_field :day %>
        </div>

        <div class="input-field col s12 m3">
          <%= field.select :user_id, [["リハ一郎", "2"], ["リハ二郎", "3"], ["リハ三郎", "4"], ["リハ四郎", "5"]], include_blank: "PT名" %>
        </div>
  
        <div class="input-field col s12 m3">
          <%= field.collection_select :patient_id, Patient.all.order_kana, :id, :patient_name, include_blank: "患者名" %>
        </div>
  
        <div class="input-field col s12 m3">
          <%= field.select :unit, [["1単位", "1"], ["2単位", "2"], ["3単位", "3"]] %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row">
      <div class="input-field col s12">
        <%= form.submit "確定", class: "btn green waves-effect waves-light right" %>
      </div>
    </div>
<% end %>